:root {
    --color-primary               : #7fc0bb;
    --color-second                : #d94878;
    --color-third                 : #4a4a83;
    --color-background            : #3b3b54;
    --color-background-transparent: #3b3b54ef;
}

*,
*::after,
*::before {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}


a {
    text-decoration: none;
}

html {
    overflow-x: hidden;

}

body {
    display         : flex;
    flex-flow       : column;
    justify-content : center;
    padding         : 2em 0 8em 0;
    max-width       : 1366px;
    margin          : 0 auto;
    background-color: var(--color-background);
    color           : var(--color-primary);
    min-height      : 100vh;
}


header,
footer {
    text-align: center;
    max-width : 480px;
    margin    : 0 auto;
    width     : 100%;
}

header {
    border-bottom : 0.15rem solid var(--color-second);
    padding-bottom: 0.5em;
}

footer {
    border-top : 0.15rem solid var(--color-second);
    padding-top: 0.5em;
    margin-top : 2em;
}

h1 {
    margin-top: 0.3rem;
}

header p {
    margin-bottom: 0.5rem;
}

header p,
footer {
    font-size: 1.3rem;
}

footer span {
    color: var(--color-second);
}

#options {
    display: none;
}

#photo {
    border       : 0.2em solid var(--color-second);
    border-radius: 50%;
    margin       : 0 auto;
    width        : 7em;
    height       : 7em;
    background   : var(--avatar-bg-color);
}

#photo img {
    width          : 7em;
    image-rendering: -moz-crisp-edges;
}

main {
    display        : flex;
    justify-content: space-around;
    flex-wrap      : wrap;
    max-width      : 480px;
    margin         : 0 auto;
    padding        : 1em;
}

main>a {
    width     : 90%;
    margin-top: 2em;
    position  : relative;
}

.work {
    overflow: visible;
    position: relative;
}

.work h3 {
    display        : flex;
    justify-content: center;
    align-items    : center;

    border   : 0.15em solid var(--color-second);
    position : absolute;
    top      : 0;
    transform: translate(5%, 10%) scaleY(1);
    z-index  : -1;

    width  : 100%;
    height : 100%;
    padding: 0.3em 0;

    font-size : 2rem;
    text-align: center;

    transition      : all 0.35s;
    background-color: var(--color-background-transparent);
    color           : var(--color-primary);
}

.work:hover,
a:focus .work {
    overflow : visible;
    position : relative;
    transform: scaleY(-1);
}

.work img {
    transform : translate(0%, 0%) scaleY(1);
    position  : relative;
    width     : 100%;
    display   : block;
    border    : 0.2em solid var(--color-primary);
    transition: all 0.35s;

}

.work:hover img,
a:focus .work img,
a:active .work img {
    transform: translate(5%, -10%) scaleY(-1);

}

.work:hover h3,
a:focus .work h3,
a:active .work img {
    z-index  : 1;
    transform: translate(0%, 0%) scaleY(-1);
}


@media (min-width: 640px) {
    main {
        max-width: 800px;
    }

    main>a {
        width: 40%;
    }
}