:root {
    --color-primary: #434;
    --color-second: #140f18;
    --color-third: #4a4a83;
    --color-borders: gray;
  
    --color-font-primary: #eee;
    --color-font-second: #54b4ec;
    --color-font-third: #eee;
  
    --bg-image:url("../img/dashesv2.png");
    --bg-animation: none;
    --bg-color: #111;
    --bg-color-second: #2b2035;
  
    --border-style: dashed;
    --border-size: 0.15rem;
    --border-radius: 0;
  
    --button-radius: 0;
  
    --font-family: Helvetica, sans-serif;

    --color-info-lightest:  #ebf0fc;
    --color-info:           #a5bef6;
    --color-info-dark:      #677caa;
    --color-info-darker:    #4a5d85;

    --color-success-lightest:   #edffdd;
    --color-success:            #91c461;
    --color-success-dark:       #649433;
    --color-success-darker:     #476e21;

    --color-danger-lightest:#fdeeee;
    --color-danger:         #b73b3b;
    --color-danger-dark:    #9a3838;
    --color-danger-darker:  #6b2020;

    --color-option-lightest:#fceefd;
    --color-option:         #a07eb5;
    --color-option-dark:    #8a69a0;
    --color-option-darker:  #3b0b5e;
  }

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--color-font-primary);
}

body {
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
    font-family: Helvetica, serif;
    background: var(--bg-color) var(--bg-image);
    max-width: 1024px;
    margin: 0 auto;
    padding: 1.5em;
}

header {
    padding: 0.75em 0;
    border-bottom: 0.2rem dashed var(--color-borders)
}


header p {
    font-size: 1.25rem;
}

address {
    margin-top: 0.4em;
}

footer {
    text-align: center;
    padding: 1em 0;

}

main {
    margin: 0 auto;
}
main p {
    font-size: 1.1rem;
}

canvas {
    margin-top: 0.5em;
    width: 100%;
    background-color: #131313e8;
    border: 0.1em dashed var(--color-borders);
    border-radius: 0.2em;
}



main p {
    margin: 0.5em 0;
    text-align: justify;
}

main h2 {
    border-bottom: 0.1em solid gray;
    padding-bottom: 0.2em;
    margin-bottom: 0.3em;
}

main h2:not(:first-child) {
    margin-top: 1em;
}


.range {
    display: inline-flex;
    justify-content: center;
    margin-right: 0.5em;
    flex-direction: column;
}
.range__button.range__button--sub {
    color: var(--color-danger-lightest);
    border-color: var(--color-danger);
    background: var(--color-danger-darker);
}

.range__button.range__button--sub:hover {
    background: var(--color-danger-dark);
}

.range__button.range__button--add {
    color: var(--color-success-lightest);
    border-color: var(--color-success);
    background: var(--color-success-darker);
}

.range__button.range__button--add:hover {
    background: var(--color-success-dark);
}

.range__controls {
    display: flex;
    align-items: flex-end;
}


.error {
    color: #f88;
    font-weight: bold;
    display: none;
}

.controls {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
}

.controls__control {
    margin-right: 0.5em;
}

.controls__control,
.range__button,
.range__input {
    margin-top: 0.5em;
    padding: 0.5em 0.75em;
    text-align: center;
    text-shadow: 0.1em 0.1em 0.05em #000;
    background-color: rgb(79, 98, 100);
    border-radius: 0.2em;
    border: 0.15em solid #2f333d;
    font-size: 1rem;
    min-width: 2.5em;
}

.range__label {
    display: block;
    text-align: center;
    font-size: 1.3rem;
}

.range__input {
    width: 4em;
    margin: 0;
    color: var(--color-option-lightest);
    border-color: var(--color-option-dark);
    background: var(--color-option-darker);
}

.controls__control--example {
    color: var(--color-info-lightest);
    border-color: var(--color-info);
    background: var(--color-info-darker);
}


.controls__control--place-seeds {
    color: var(--color-success-lightest);
    border-color: var(--color-success);
    background: var(--color-success-darker);
}

.controls__control--clear-data,
.controls__control--clear-seeds {
    color: var(--color-danger-lightest);
    border-color: var(--color-danger);
    background: var(--color-danger-darker);
}

.controls__control--clear-data:hover,
.controls__control--clear-seeds:hover {
    background: var(--color-danger-dark);
}

.controls__control--place-seeds:hover{
    background: var(--color-success-dark);
}
.controls__control--example:hover{
    background: var(--color-info-dark);
}